@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*ID*/
/*TODO add gradients and shadows and etc*/
#logo{
    height: 10%;
    width: max-content;
}
#select-ciudades{
    width: 20.83vw;
    flex-flow: column;
}
#select-ciudades li{
    font-weight: bold;
}
#clima{
    width: 75vw;
    position: relative;
}
#clima .rb, #clima .lb{
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: calc(1em + 25px);
    z-index: 2;
}
#clima .rb{
    left: 98%;
    transform: translate(-100%, -50%);
}
#clima .lb{
    left: 2%;
    transform: translateY(-50%);
}
#detalles{
    width: 50px;
    border-radius: 12px;
}
#options{
    height: 10%;
    max-width: min-content;
    white-space: nowrap;
    font-size: 0;
}
#options::after{
    content: '';
    margin-left: -10vh;
}
#options button{
    height: 100%;
    border-radius: 12px;
}
#options .popcontainer{
    display: inline-block;
    position: relative;
    height: 100%;
    aspect-ratio: 1;
}
#options span button{
    aspect-ratio: auto;
    width: 100%
}
#dias{
    height: 7.407%;
    width: 75vw;
    justify-content: space-between;
}
#dias .rb{
    border-radius: 0 12px 0 0;
}
#dias .lb{
    border-radius: 12px 0 0 0;
}
#ciudades{
    width: 20.83vw;
    height: 7.407%;
    justify-content: space-between;
}
#ciudades span{
    align-self: center;
    flex-grow: 1;
    text-align: center;
}
#addcity{
    border-radius: 0 12px 0 0;
}
#fecha{
    border: none;
    align-self: center;
    padding: 4px 10px;
}
#sorpresacontainer{
    position: absolute;
    width: 0;
    height: 100vh;
    overflow: hidden;
}
#sorpresacontainer:focus-within{
    width: 100vw;
}
#sorpresa{
    transform: translate(-100%, -50%);
    position: relative;
    top: 50%;
    width: 0;
}
#sorpresa:focus{
    width: auto;
}
#sorpresa.animated:focus{
    animation: gallop 3.5s linear;
}

@keyframes gallop{
    0%{
        transform: translate(-100%, -50%);
        left: 0;
    }
    100%{
        transform: translate(0, -50%);
        left: 100vw
    }
}
/*Class*/

.cwrap{
    min-width: 8px;
    max-width: min-content;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
.cwrap:first-child #showhidecitymenu{
    display: none;
}
.card{
    display: flex;
    overflow-x: hidden;
    text-overflow: clip;
    min-width: fit-content;
}
.movingleft{
    transform: translateX(-200%);
}
.movingright{
    transform: translateX(0);
}
.hour{
    min-width: calc(100%/3);
    position: relative;
    transition: transform 1s;
    transform: translateX(-100%);
}
.hour:not(.current) :is(button, hr){
    transition: opacity 1s;
    opacity: 0;
}
.hour:not(.current) :is(button:disabled, img){
    transition: opacity 1s;
    opacity: 27.5%;
}
.hour div:not(.popoverborder, .popover){
    height: calc(50% - 2px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}
.hour img{
    height: 120px;
    width: 120px;
}
.hour .popcontainer{
    width: 50px;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}
.bottomcard{
    border-radius: 0 0 12px 12px;
    border: 0;
    z-index: 0;
    flex-grow: 1;
    white-space: nowrap;
}
.topcard{
    border-radius: 12px 12px 0 0;
    border-style: solid;
    border-width: 0 0 2px 0;
    z-index: 1;
}
.time{
    display: block;
}
.empty, .hour:not(.current) button:disabled{
    visibility: hidden !important;
}
.empty > *, .hour:not(.current) button:disabled > *{
    visibility: visible;
}
/* .current{
    min-width: 200px;
} */
.popover, .popoverborder{
    clip-path: polygon(0 10px, calc(50% - 10px) 10px, 50% 0, calc(50% + 10px) 10px, 100% 10px, 100% 100%, 0 100%);
    border-radius: 50px 50px 12px 12px / 22px 22px 12px 12px; /* FIXME jank, replace polygon by path and remove border */
}
.popoverborder{
    padding: 2px;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    width: 300%;
    transform: translateX(calc(-100%/3));
}
.popover{
    padding: 10px;
    padding-top: 20px;
}
.popover p{
    font-size: 12px;
    white-space: normal;
    margin: 0;
}
.current :is(button, img, hr){
    transition: opacity 1.5s;
    opacity: 100%;
}
.current button:disabled{
    background-size: contain;
    position: relative;
}
.current button:disabled::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../Media/blob-scatter-haikei.svg");
    background-size: contain;
    opacity: 10%;
    border-radius: inherit;
}
.close{
    padding: 10px
}
/*Element*/

hr{
    margin: 0px;
}
body{
    box-sizing: border-box;
    font-family: Ubuntu, monospace, Arial;
    margin: 0px;
}
main{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
}
button{
    border: 0px;
    aspect-ratio: 1/1;
}
button:disabled{
    height: 10vh;
    border-radius: 12px;
}
img{
    pointer-events: none;
}
i{
    position: relative;
    font-size: large;
    margin: 0;
    bottom: 0;
    text-shadow: none;
    transition: text-shadow 0.25s, bottom 0.25s;
}
li{
    list-style: none;
    text-align: center;
    margin: 20px 0 0 0;
}
p{
    font-family: monospace, Arial;
}
ul{
    margin: 0;
    padding: 0;
}
input{
    font-family: Ubuntu, monospace, Arial;
    font-size: inherit;
}
input:focus{
    outline: 0;
}
dialog{
    border: none;
    border-radius: 12px;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
dialog > *{
    margin: 10px 0;
    border-radius: inherit;
}
dialog::backdrop{
    backdrop-filter: blur(3px);
}
:root{
    font-size: 16px;
}

/* Media */
/* TODO make the cities button work */
@media screen and (max-width: 850px){
    /*ID*/
    #logo{
        display: none;
    }
    #options{
        height: 7%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: calc(1rem + 10px);
    }
    #dias{
        margin-top: 7vh;
    }
    #space{
        max-width: none;
        width: calc(1rem + 10px);
    }
    /*Class*/
    .hour{
        transition-duration: 0.5s;
    }
    .hour:not(.current), .hour:not(.current) i{
        visibility: hidden;
        opacity: 0;
        width: 0;
        min-width: 0;
    }
    .hour:not(.current) > *{
        display: none;
    }
    .current{
        min-width: 200px;
        margin: 0 calc((100% - 200px) / 2);
        transform: none;
        transition-duration: 0.5s;
    } 
    .cwrap:first-child{
        position: absolute;
        z-index: 1;
        transform: translateX(-100%);
    }
    .cwrap:first-child.showing{
        transition: transform 1s;
        transform: translateX(0);
    }
    .cwrap:first-child #showhidecitymenu{
        display: block;
        text-align: center;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        width: 1rem;
        padding: 0 5px;
        height: 100%;
        left: 100%;
        border-radius: 12px 0 0 12px;
    }
    .cwrap:first-child.showing #showhidecitymenu{
        height: 15%;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        transition: height 0.5s;
    }
    /*Element*/
    :root{
        font-size: 12px;
    }
    i{
        font-size: inherit;
    }
}

/* TODO make dialog box invisible while moving hour */