:root{
    --color1: #181543;
    --color2: #00337C;
    --color3: #1C82AD;
    --color4: #03C988;
    --color5: #FBFFDC;
}

.topcard, .bottomcard{
    background-color: var(--color1);
}
.popover{
    background-color: var(--color1);
}
.popoverborder{
    background-color: var(--color5);
}

#options button{
    background-color: var(--color2);
}
#options button:hover{
    border: dashed var(--color3) 4px;
}

button{
    background-color: var(--color3);
}
button span{
    color: var(--color5);
}
button:not(.hour>* button):hover{
    background-color: var(--color5);
}
button:not(.hour>* button):not(#options button):hover :is(i, span){
    color: var(--color3);
}
i{
    color: var(--color5);
}
hr{
    border-color: var(--color5);
}
main{
    color: var(--color5);
    background-color: var(--color2);
}
main::before{
    background-color: var(--color3);
}